# Исследование надежности заемщиков

## Изучение общей информации о данных

In [1]:
#импорт библиотеки и загрузка данных

import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [2]:
#вывод строк датафрейма

data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
#вывод основной информации 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [4]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

Заметны неявные дубликаты в столбце education.  
Существуют аномалии в признаке children (мах 20, min -1), отрицательные значения days_employed.  
В двух столбцах есть пропущенные значения, они связаны между собой. total_income — хранит данные о доходах и days_employed - дни трудового стажа. Пропуски обнаружились в 2174 строках одновременно. Эти столбцы отличаются от остальных типом данных - вещественное число. Возможно, причина в этом. Например, сотрудник банка или клиент внес строчное значение - "нет", после чего данные для удобства хранения и использования форматировали в тип float64, и данные оказались утеряны.

## Предобработка данных

### Обработка пропусков

На сумму дохода (total_income) сильнее всего влияет тип занятости, а медиана наименее чувствительна к выбросам и аномальным значениям, поэтому буду заполнять пропуски в столбце медианным значением по каждому типу из столбца income_type. Например, у человека с типом занятости сотрудник пропуск в столбце total_income будет заполнен медианным доходом среди всех записей с тем же типом.

In [5]:
#заполнение пропусков total_income медианным значением по типу дохода

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

В данных легко заметить аномалию - отрицательное количество дней трудового стажа в столбце `days_employed`, появившихся вероятно по технической ошибке. Заменяю все отрицательные значения положительными с помощью модуля числа, метода `abs()`.

In [6]:
data['days_employed'] = data['days_employed'].abs()

In [7]:
#подсчет уникальных значений признака "количество детей"

data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

В столбце children есть два аномальных значения. Удаляю эти строки, потому что признак важен для исследования.

In [8]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Пропуски в столбце days_employed заполняю медианными значениями по каждому типу занятости income_type.

In [9]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [10]:
#проверка отсутствия пропусков

data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [11]:
#преведение total_income к корректному типу данных

data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [12]:
#преведение значений признака education к нижнему регистру 

data['education'] = data['education'].str.lower()

In [13]:
#вывод количества строк-дубликатов

data.duplicated().sum()

71

In [14]:
#удаление дублей 

data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создам в `data` столбец `total_income_category` с категориями дохода:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [15]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [16]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

На основании данных из столбца purpose сформирую новый столбец purpose_category, в который войдут следующие категории:

-'операции с автомобилем',  
-'операции с недвижимостью',  
-'проведение свадьбы',  
-'получение образования'.

In [17]:
#перечень уникальных целей взятия кредита из столбца purpose

data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [18]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [19]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Выявление закономерностей

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [20]:
#создание сводной таблицы с долями должников, группированных по количеству детей

data.pivot_table(index = ['children'], values ='debt')

              debt
children
0         0.075438
1         0.092346
2         0.094542
3         0.081818
4         0.097561
5         0.000000

**Вывод:** 
Выделяется категория заемщиков с пятью детьми стопроцентной выплатой в срок, но выборка из 9 человек слишком мала, чтобы делать вывод - выборка не сбалансирована.    
В срок чаще остальных выплачивают бездетные (должников среди этой группы 7,5%),  
Следующие в топе заемщики с тремя детьми (8,1%),  
Большие доли должников среди заемщиков с 1 и 2 детьми (9,2% и 9,4% соответственно).

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [21]:
#создание сводной таблицы с долями должников, группированных по семейному положению

data.pivot_table(index = ['family_status'], values ='debt')

                           debt
family_status
Не женат / не замужем  0.097639
в разводе              0.070648
вдовец / вдова         0.066246
гражданский брак       0.093130
женат / замужем        0.075606

**Вывод:**   
Cамая высокая доля возращенных вовремя кредитов у вдов/вдовцов и чуть меньше у разведенных.   
Cамая низкая доля у тех, кто никогда не был в браке.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [22]:
#создание сводной таблицы с долями должников, группированных по уровню дохода

data.pivot_table(index = ['total_income_category'], values ='debt')

                           debt
total_income_category
A                      0.080000
B                      0.070602
C                      0.084982
D                      0.060172
E                      0.090909

**Вывод:**   
Выборка по заемщикам, как с наименьшим доходом, так и с наибольшим крайне недостаточна для формирования однозначных выводов.  
По результатам подсчетов видно, что зависимости "больше доход заемщика - выше доля возврата в срок" - нет, поскольку:  
-чаще всего возвращают вовремя заемщики с доходом 30-50 тыс, но при этом   
-реже всего возвращают заемщики с самым низким доходом - до 30 тыс.

### Как разные цели кредита влияют на его возврат в срок?

In [23]:
#создание сводной таблицы с долями должников, группированных по цели кредита

data.pivot_table(index = ['purpose_category'], values ='debt')

                              debt
purpose_category
операции с автомобилем    0.093480
операции с недвижимостью  0.072551
получение образования     0.092528
проведение свадьбы        0.079118

**Вывод:** 
Доля вернувших в срок кредит на недвижимость и свадьбу выше, чем на образование и автомобиль.